.Button {
  display: inline-flex;
  color: var(--color-primary);
  background-color: var(--color-white);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--color-shadow);
  border: 0;
  border-radius: var(--default-border-radius);
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.Button:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--color-shadow);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary:hover {
  opacity: 0.9;
}

.transparent {
  color: var(--color-text-primary);
  background-color: transparent;
  box-shadow: none;
}

.transparent:hover {
  background-color: var(--color-gray-lighter);
  box-shadow: none;
  transform: translateY(0);
}
