.Hero {
  background-size: cover;
  background-position: center;
  padding: 4rem 1rem;
  color: var(--color-invertedText);
}

.Container {
  max-width: var(--default-max-width);
  margin: 0 auto;
  display: flex;
}

.Content {
  flex: 0 1 30rem;
  margin: 1rem;
}

.Content * > * {
  margin-top: 2rem;
}

.Title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.Description {
  font-size: 1.2rem;
}
