// Colors

$color-dark-blue: #1D1F7A;
$color-blue: #3336DB;
$color-blue-light: #0092F2;
$color-dark-green: #00A562;
$color-green: #00B936;
$color-red: #FF4052;
$color-yellow: #F2CC0C;

$color-white: #FFFFFF;
$color-gray-light: #BFBFBF;
$color-gray: #808080;
$color-gray-dark: #404040;
$color-black: #1A1A1A;

$color-primary: $color-dark-blue;
$color-secondary: $color-dark-green;
$color-negative: $color-red;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-info: $color-blue-light;
$default-text-color: $color-black;

// Layout

$default-max-width: 90rem;

// Typography

$default-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;