.Layout {
  display: block;
  max-width: var(--default-max-width);
  margin: 2rem auto;
  padding: 2rem;
}

.Items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
