.Card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.9);
  font-family: $default-font-family;
  color: $default-text-color;
}

.Header {
  display: flex;
  flex-direction: column;
}

.Body {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  > * + * {
    margin-top: 0.8rem;
  }
}

.imageWrapper {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center;
}
