.Card {
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 1rem 0.2rem var(--color-shadow);
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--default-border-radius);
  font-family: var(--default-font-family);
}

.Header {
  display: flex;
  flex-direction: column;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.Body > * + * {
  margin-top: 2rem;
}

.ImageWrapper {
  margin: 1rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fullBleed {
  padding: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
}
