.Theme {
  --default-max-width: 90rem;

  --default-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;

  --default-border-width: 1px;
  --default-border-radius: 0.4rem;

  font-family: var(--default-font-family);
}
