body {
  margin: 0;
  padding: 0;
  color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: regular;
}
