.Nav {
  display: flex;
  max-width: var(--default-max-width);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Branding {
  max-width: 10rem;
  margin-right: 1rem;
}

.Menu {
  display: flex;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
  background-color: var(--color-navBackground);
  height: 100vh;
  top: 0;
  right: 0;
  width: 20rem;
  box-shadow: -0.5rem -0.5rem 1rem 0.2rem var(--color-shadow);
}

.visible {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.Items {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.CloseToggle {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}

.Item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Link {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 2rem;
  color: var(--color-primary);
  width: 100%;
}

.Toggle {
  display: block;
}


@media (min-width: 50em) {
  .Menu {
    position: static;
    visibility: visible;
    flex-direction: row;
    height: auto;
    width: auto;
    transform: translateX(0);
    background-color: transparent; 
    box-shadow: none;
    opacity: 1;
  }

  .Items {
    flex-direction: row;
  }

  .Toggle {
    display: none;
  }
}
